/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
#base{
	width: 1520px;
	height: 1200px;
	background: #3E3E3E;
}
#header{
	width: 1520px;
	height: 100px;
	background: #FF595C;
}
/*header*/
#logo{
	width: 1520px;
	height: 100px;
	background: black;
}
#logo img{
	padding-left: 100px;
	padding-top: 10px;
	float: left;
}
#logo span{
	font-family:"iCiel Panton Black";
	font-size: 45px;
	padding: 30px 30px;
	float: left;
	text-shadow: 2.5px 2.5px #0038FF;
} 
/*==Reset CSS==*/ 
* { 
    margin: 0;
	padding: 0; 
} 
body { 
	font-family: "iCiel Brandon Text Bold";
	font-size: 25px;
}
#menu ul{
	list-style: none;
	height: 100px;
	width: 1520px;
	margin: 0 auto;
	background: #1B1B1B;
	float: left;
}
#menu ul li{
	float: left;
	width: 380px;
	height: 100px;
	text-align: center;
	line-height: 100px;
}
#menu ul li a{
	text-decoration: none;
	color: white;
	display: block;
	transition-duration: 0.5s;
}
#menu ul li:hover a{
	background: white;
	color: black;
}
/*context*/
#context img{
	float: left;
	margin-left: 30px;
	margin-top: 30px;
	box-shadow: 5px 5px 10px black;
}
#context p{
	float: left;
	margin-left: 30px;
	margin-top: 180px;
	font-size: 30px;
	width: 430px;
	height: 420px;
	text-shadow: 5px 5px 5px black;
	text-align: center;
}
/*footer*/
#footer{
	float: left;
	width: 1520px;
	height: 220px;
	background: #3E3E3E;
}
#top{
	float: left;
	width: 1520px;
	height: 150px;
	background: #777777;
	margin-top: 15px;
}
#top p{
	float: left;
	width: 1520px;
	text-align: center;
	margin-top: 30px;
	font-size: 30px;
}
#bottom{
	float: left;
	width: 1520px;
	height: 70px;
	background: black;
}
#bottom p{
	float: left;
	margin-left: 30px;
	margin-top: 25px;
	font-size: 20px;
}
#bottom img{
	float: right;
	margin-right:100px;
	margin-top: 20px;
}
